# Fichiers temporaires du système
Thumbs.db
desktop.ini
.DS_Store

# Fichiers de travail des traitements de texte
~$*
*.tmp
*.bak

# fichiers intermediaires de fabrication
check.js
combo.js
sonde*.html
vue*.html
